EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAJc_YjquNvpE9KRkL2nPFQRBiK5ZFv7tg
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=rim-ready.firebaseapp.com
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://rim-ready-default-rtdb.firebaseio.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=rim-ready
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=rim-ready.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=596668964342
EXPO_PUBLIC_FIREBASE_APP_ID=1:596668964342:ios:9e36e5e10e3997e95d3bd7
EXPO_PUBLIC_AUTH0_DOMAIN=dev-2kc1qm7tzrsvsid4.us.auth0.com
EXPO_PUBLIC_AUTH0_CLIENT_ID=9LvLWKxyJTHBodJs7HIgfapfCqg7rD2z
EXPO_PUBLIC_KINETIQ_API_URL=http://172.20.10.13:8000
